@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>
    <b>Goal</b>: Imagine you have a database of all the employees in a given company. You are building a web application that allows users to put one or more alerts on the employee records.
    Display the employee records and their alerts.
    As a logged in user, you can view all employee records in a grid, and may review one employee record at a time.
</p>
<p>
    <b>Requirements in brief</b>
    <ul>

        <li>
            Allow logged in user to create an employee record, just three fields, First Name, Last Name, Employee ID.
        </li>
        <li>
            Allow logged in user to edit or delete employee records.
        </li>
        <li>
            Allow logged in user to see a list of all the employees in a grid.
        </li>
        <li>
            Allow logged in user to create a new alert for an employee record. Alert is nothing but a message associated with a particular employee. e.g. Traveling to Europe in December.
            Alert will have just one field, a textbox that takes in the actual alert message as a string.
        </li>
        <li>
            Users can create one or more alerts per employee.
        </li>

        <li>
            The grid would show number of alerts an employee has in one of the columns on the grid. e.g. If an employee has 3 alerts, Alerts column would show 3 next to that employee's record.
        </li>
        <li>
            Allow logged in user to view the alerts if they wish to, either in the grid or via any other means.
            May want to use Angular or any other Javascript framework and ASP.NET Core for the APIs. These are the technologies we predominantly use.
        </li>
    </ul>
    <b>Expectations</b><br />
    <ul>

        <li>
            Requirements in brief
            Develop front end, middle tier and the back end, to meet these needs. If you end up with any requirement related questions, please feel free to take certain decisions on your own and be able to explain those.
        </li>
        <li>
            The idea is to get to know your application development skills.
        </li>
        <li>
            To keep it simple, for the data source, you are free to use SQL database, cloud based database or any mock data source.
        </li>
        <li>
            The application would be a showcase of different front-end, back-end skills such as the UI, the layout, choice of components, and the underlying technical concepts of the framework, design of reusable components, well-structured, well documented code etc.
        </li>
        <li>
            Please feel free to add any relevant fields or features if necessary.
        </li>
        <li>
            You can host your sample application anywhere you are comfortable with as long as we can see it in action.
        </li>
        <li>
            You can host your code in git repository and share it with us. We would like to see the code.
    </ul>

</p>
