@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    11355 Avenida Del Gato<br />
    San Diego, CA 92126<br />
    <br />
    <a href="tel:8583355557">(858) 335-5557</a>
</address>

<address>
    <strong>email:</strong> <a href="mailto:mroashan@gmail.com">mroashan@gmail.com</a><br />

</address>
